.day-planner {
    position: relative;
}

.day-planner .status-bar-item-segment:hover {
    cursor: pointer;
}

.day-planner-progress-bar {
    margin-top: 2px;
    background-color: var(--back);
    border-radius: 4px;
    min-width: 150px;
    height: 16px;
    float: right;
}

.day-planner-progress-value {
    background-color: var(--interactive-accent);
    transition: 0.3s all linear;
    border-radius: 4px;
    height: 16px;
    display: inline-block;
}

.day-planner-progress-value.green {
    background-color: #4CAF50;
}
.day-planner-progress-value.yellow {
    background-color: #ff9800;
}

.day-planner-status-bar-text {
    
}
