.day-planner {
    position: relative;
}

.day-planner .status-bar-item-segment:hover {
    cursor: pointer;
}

.day-planner-progress-bar {
    margin-top: 2px;
    background-color: lightgray;
    border-radius: 4px;
    min-width: 150px;
    height: 16px;
    float: right;
}

.day-planner-progress-value {
    background-color: var(--interactive-accent);
    transition: 0.3s all linear;
    border-radius: 4px;
    height: 16px;
    display: inline-block;
    /* animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards; */
}

.day-planner-progress-value.green {
    background-color: #4CAF50;
    /* animation: progress-3 3s ease-in-out forwards;
    -webkit-animation: progress-3 3s ease-in-out forwards; */
}
.day-planner-progress-value.yellow {
    background-color: #ff9800;
    /* animation: progress-2 3s ease-in-out forwards;
    -webkit-animation: progress-2 3s ease-in-out forwards; */
}

.day-planner-status-bar-text {
}

/* animation */
    @keyframes progress {
    from {
    width: 0;
    }
    to {
    width: 55%;
    }
}
    @-webkit-keyframes progress {
    from {
    width: 0;
    }
    to {
    width: 55%;
    }
}
    @keyframes progress-2 {
    from {
    width: 0;
    }
    to {
    width: 70%;
    }
}
    @-webkit-keyframes progress-2 {
    from {
    width: 0;
    }
    to {
    width: 70%;
    }
}
    @keyframes progress-3 {
    from {
    width: 0;
    }
    to {
    width: 90%;
    }
}
    @-webkit-keyframes progress-3 {
    from {
    width: 0;
    }
    to {
    width: 90%;
    }
}
