.day-planner {
  position: relative;
}

.day-planner .status-bar-item-segment:hover {
  cursor: pointer;
}

.day-planner-progress-bar {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  min-width: 100px;

  background-color: var(--text-faint);
  border-radius: var(--radius-s);
  overflow: hidden;
}

.day-planner-progress-value {
  background-color: var(--color-accent);
}

.day-planner-progress-value.green, .day-planner .progress-pie.green::before {
  background-color: #4CAF50;
}

.day-planner .progress-pie.green {
  background-image: linear-gradient(to right, transparent 50%, #4CAF50 0)
}

.day-planner-status-bar-text {
  float: left;
  margin-right: 10px;
}

.day-planner-status-card {
  position: absolute;
  top: -140px;

  display: none;

  width: 300px;
  padding: 8px;

  background-color: var(--background-secondary-alt);
  border-radius: 4px;
}

.day-planner-status-card .arrow-down {
  position: absolute;

  width: 20px;

  border-top: 20px solid var(--background-secondary-alt);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.progress-pie.day-planner {
  float: left;
  display: none;

  width: 20px;
  height: 20px;
  margin: 0.3px 10px 0.3px 0;

  background-color: var(--text-muted);
}

.progress-pie.day-planner::after {
  width: 80%;
  height: 80%;
}

.progress-pie.day-planner::after {
  font-size: 8px;
  font-weight: 900;
  line-height: 13px;
  color: transparent;

  background-color: transparent;
}

[data-type="timeline"] .view-content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.absolute-stretch-x {
  position: absolute;
  right: 0;
  left: 0;
}

/* TODO: use sass? */

/* CSS Progress Pie by Olivia Ng | MIT License | github.com/oliviale/css-progress-pie */
.progress-pie {
  position: relative;

  display: inline-block;

  width: 60px;
  height: 60px;
  margin: 10px;

  background: #eee;
  background-image: linear-gradient(left, transparent 50%, var(--interactive-accent) 0);
  background-image: linear-gradient(to right, transparent 50%, var(--interactive-accent) 0);
  border-radius: 50%
}

.progress-pie::before {
  content: '';

  transform-origin: left;
  transform-origin: left;
  transform-origin: left;

  display: block;

  height: 100%;
  margin-left: 50%;

  background-color: inherit;
  border-radius: 0 100% 100% 0/50%
}

.progress-pie::after {
  content: attr(data-value);

  position: absolute;
  inset: 0;

  width: 70%;
  height: 70%;
  margin: auto;

  font: 900 20px/41px Tahoma;
  text-align: center;

  background-color: #fff;
  border-radius: 50%
}

.progress-pie[data-value="0"]::before {
  transform: rotate(0turn);
  transform: rotate(0turn);
  transform: rotate(0turn)
}

.progress-pie[data-value="1"]::before {
  transform: rotate(.01turn);
  transform: rotate(.01turn);
  transform: rotate(.01turn)
}

.progress-pie[data-value="2"]::before {
  transform: rotate(.02turn);
  transform: rotate(.02turn);
  transform: rotate(.02turn)
}

.progress-pie[data-value="3"]::before {
  transform: rotate(.03turn);
  transform: rotate(.03turn);
  transform: rotate(.03turn)
}

.progress-pie[data-value="4"]::before {
  transform: rotate(.04turn);
  transform: rotate(.04turn);
  transform: rotate(.04turn)
}

.progress-pie[data-value="5"]::before {
  transform: rotate(.05turn);
  transform: rotate(.05turn);
  transform: rotate(.05turn)
}

.progress-pie[data-value="6"]::before {
  transform: rotate(.06turn);
  transform: rotate(.06turn);
  transform: rotate(.06turn)
}

.progress-pie[data-value="7"]::before {
  transform: rotate(.07turn);
  transform: rotate(.07turn);
  transform: rotate(.07turn)
}

.progress-pie[data-value="8"]::before {
  transform: rotate(.08turn);
  transform: rotate(.08turn);
  transform: rotate(.08turn)
}

.progress-pie[data-value="9"]::before {
  transform: rotate(.09turn);
  transform: rotate(.09turn);
  transform: rotate(.09turn)
}

.progress-pie[data-value="10"]::before {
  transform: rotate(.1turn);
  transform: rotate(.1turn);
  transform: rotate(.1turn)
}

.progress-pie[data-value="11"]::before {
  transform: rotate(.11turn);
  transform: rotate(.11turn);
  transform: rotate(.11turn)
}

.progress-pie[data-value="12"]::before {
  transform: rotate(.12turn);
  transform: rotate(.12turn);
  transform: rotate(.12turn)
}

.progress-pie[data-value="13"]::before {
  transform: rotate(.13turn);
  transform: rotate(.13turn);
  transform: rotate(.13turn)
}

.progress-pie[data-value="14"]::before {
  transform: rotate(.14turn);
  transform: rotate(.14turn);
  transform: rotate(.14turn)
}

.progress-pie[data-value="15"]::before {
  transform: rotate(.15turn);
  transform: rotate(.15turn);
  transform: rotate(.15turn)
}

.progress-pie[data-value="16"]::before {
  transform: rotate(.16turn);
  transform: rotate(.16turn);
  transform: rotate(.16turn)
}

.progress-pie[data-value="17"]::before {
  transform: rotate(.17turn);
  transform: rotate(.17turn);
  transform: rotate(.17turn)
}

.progress-pie[data-value="18"]::before {
  transform: rotate(.18turn);
  transform: rotate(.18turn);
  transform: rotate(.18turn)
}

.progress-pie[data-value="19"]::before {
  transform: rotate(.19turn);
  transform: rotate(.19turn);
  transform: rotate(.19turn)
}

.progress-pie[data-value="20"]::before {
  transform: rotate(.2turn);
  transform: rotate(.2turn);
  transform: rotate(.2turn)
}

.progress-pie[data-value="21"]::before {
  transform: rotate(.21turn);
  transform: rotate(.21turn);
  transform: rotate(.21turn)
}

.progress-pie[data-value="22"]::before {
  transform: rotate(.22turn);
  transform: rotate(.22turn);
  transform: rotate(.22turn)
}

.progress-pie[data-value="23"]::before {
  transform: rotate(.23turn);
  transform: rotate(.23turn);
  transform: rotate(.23turn)
}

.progress-pie[data-value="24"]::before {
  transform: rotate(.24turn);
  transform: rotate(.24turn);
  transform: rotate(.24turn)
}

.progress-pie[data-value="25"]::before {
  transform: rotate(.25turn);
  transform: rotate(.25turn);
  transform: rotate(.25turn)
}

.progress-pie[data-value="26"]::before {
  transform: rotate(.26turn);
  transform: rotate(.26turn);
  transform: rotate(.26turn)
}

.progress-pie[data-value="27"]::before {
  transform: rotate(.27turn);
  transform: rotate(.27turn);
  transform: rotate(.27turn)
}

.progress-pie[data-value="28"]::before {
  transform: rotate(.28turn);
  transform: rotate(.28turn);
  transform: rotate(.28turn)
}

.progress-pie[data-value="29"]::before {
  transform: rotate(.29turn);
  transform: rotate(.29turn);
  transform: rotate(.29turn)
}

.progress-pie[data-value="30"]::before {
  transform: rotate(.3turn);
  transform: rotate(.3turn);
  transform: rotate(.3turn)
}

.progress-pie[data-value="31"]::before {
  transform: rotate(.31turn);
  transform: rotate(.31turn);
  transform: rotate(.31turn)
}

.progress-pie[data-value="32"]::before {
  transform: rotate(.32turn);
  transform: rotate(.32turn);
  transform: rotate(.32turn)
}

.progress-pie[data-value="33"]::before {
  transform: rotate(.33turn);
  transform: rotate(.33turn);
  transform: rotate(.33turn)
}

.progress-pie[data-value="34"]::before {
  transform: rotate(.34turn);
  transform: rotate(.34turn);
  transform: rotate(.34turn)
}

.progress-pie[data-value="35"]::before {
  transform: rotate(.35turn);
  transform: rotate(.35turn);
  transform: rotate(.35turn)
}

.progress-pie[data-value="36"]::before {
  transform: rotate(.36turn);
  transform: rotate(.36turn);
  transform: rotate(.36turn)
}

.progress-pie[data-value="37"]::before {
  transform: rotate(.37turn);
  transform: rotate(.37turn);
  transform: rotate(.37turn)
}

.progress-pie[data-value="38"]::before {
  transform: rotate(.38turn);
  transform: rotate(.38turn);
  transform: rotate(.38turn)
}

.progress-pie[data-value="39"]::before {
  transform: rotate(.39turn);
  transform: rotate(.39turn);
  transform: rotate(.39turn)
}

.progress-pie[data-value="40"]::before {
  transform: rotate(.4turn);
  transform: rotate(.4turn);
  transform: rotate(.4turn)
}

.progress-pie[data-value="41"]::before {
  transform: rotate(.41turn);
  transform: rotate(.41turn);
  transform: rotate(.41turn)
}

.progress-pie[data-value="42"]::before {
  transform: rotate(.42turn);
  transform: rotate(.42turn);
  transform: rotate(.42turn)
}

.progress-pie[data-value="43"]::before {
  transform: rotate(.43turn);
  transform: rotate(.43turn);
  transform: rotate(.43turn)
}

.progress-pie[data-value="44"]::before {
  transform: rotate(.44turn);
  transform: rotate(.44turn);
  transform: rotate(.44turn)
}

.progress-pie[data-value="45"]::before {
  transform: rotate(.45turn);
  transform: rotate(.45turn);
  transform: rotate(.45turn)
}

.progress-pie[data-value="46"]::before {
  transform: rotate(.46turn);
  transform: rotate(.46turn);
  transform: rotate(.46turn)
}

.progress-pie[data-value="47"]::before {
  transform: rotate(.47turn);
  transform: rotate(.47turn);
  transform: rotate(.47turn)
}

.progress-pie[data-value="48"]::before {
  transform: rotate(.48turn);
  transform: rotate(.48turn);
  transform: rotate(.48turn)
}

.progress-pie[data-value="49"]::before {
  transform: rotate(.49turn);
  transform: rotate(.49turn);
  transform: rotate(.49turn)
}

.progress-pie[data-value="50"]::before {
  transform: rotate(.5turn);
  transform: rotate(.5turn);
  transform: rotate(.5turn)
}

.progress-pie[data-value="51"]::before {
  transform: rotate(.01turn);
  transform: rotate(.01turn);
  transform: rotate(.01turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="52"]::before {
  transform: rotate(.02turn);
  transform: rotate(.02turn);
  transform: rotate(.02turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="53"]::before {
  transform: rotate(.03turn);
  transform: rotate(.03turn);
  transform: rotate(.03turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="54"]::before {
  transform: rotate(.04turn);
  transform: rotate(.04turn);
  transform: rotate(.04turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="55"]::before {
  transform: rotate(.05turn);
  transform: rotate(.05turn);
  transform: rotate(.05turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="56"]::before {
  transform: rotate(.06turn);
  transform: rotate(.06turn);
  transform: rotate(.06turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="57"]::before {
  transform: rotate(.07turn);
  transform: rotate(.07turn);
  transform: rotate(.07turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="58"]::before {
  transform: rotate(.08turn);
  transform: rotate(.08turn);
  transform: rotate(.08turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="59"]::before {
  transform: rotate(.09turn);
  transform: rotate(.09turn);
  transform: rotate(.09turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="60"]::before {
  transform: rotate(.1turn);
  transform: rotate(.1turn);
  transform: rotate(.1turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="61"]::before {
  transform: rotate(.11turn);
  transform: rotate(.11turn);
  transform: rotate(.11turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="62"]::before {
  transform: rotate(.12turn);
  transform: rotate(.12turn);
  transform: rotate(.12turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="63"]::before {
  transform: rotate(.13turn);
  transform: rotate(.13turn);
  transform: rotate(.13turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="64"]::before {
  transform: rotate(.14turn);
  transform: rotate(.14turn);
  transform: rotate(.14turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="65"]::before {
  transform: rotate(.15turn);
  transform: rotate(.15turn);
  transform: rotate(.15turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="66"]::before {
  transform: rotate(.16turn);
  transform: rotate(.16turn);
  transform: rotate(.16turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="67"]::before {
  transform: rotate(.17turn);
  transform: rotate(.17turn);
  transform: rotate(.17turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="68"]::before {
  transform: rotate(.18turn);
  transform: rotate(.18turn);
  transform: rotate(.18turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="69"]::before {
  transform: rotate(.19turn);
  transform: rotate(.19turn);
  transform: rotate(.19turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="70"]::before {
  transform: rotate(.2turn);
  transform: rotate(.2turn);
  transform: rotate(.2turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="71"]::before {
  transform: rotate(.21turn);
  transform: rotate(.21turn);
  transform: rotate(.21turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="72"]::before {
  transform: rotate(.22turn);
  transform: rotate(.22turn);
  transform: rotate(.22turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="73"]::before {
  transform: rotate(.23turn);
  transform: rotate(.23turn);
  transform: rotate(.23turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="74"]::before {
  transform: rotate(.24turn);
  transform: rotate(.24turn);
  transform: rotate(.24turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="75"]::before {
  transform: rotate(.25turn);
  transform: rotate(.25turn);
  transform: rotate(.25turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="76"]::before {
  transform: rotate(.26turn);
  transform: rotate(.26turn);
  transform: rotate(.26turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="77"]::before {
  transform: rotate(.27turn);
  transform: rotate(.27turn);
  transform: rotate(.27turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="78"]::before {
  transform: rotate(.28turn);
  transform: rotate(.28turn);
  transform: rotate(.28turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="79"]::before {
  transform: rotate(.29turn);
  transform: rotate(.29turn);
  transform: rotate(.29turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="80"]::before {
  transform: rotate(.3turn);
  transform: rotate(.3turn);
  transform: rotate(.3turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="81"]::before {
  transform: rotate(.31turn);
  transform: rotate(.31turn);
  transform: rotate(.31turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="82"]::before {
  transform: rotate(.32turn);
  transform: rotate(.32turn);
  transform: rotate(.32turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="83"]::before {
  transform: rotate(.33turn);
  transform: rotate(.33turn);
  transform: rotate(.33turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="84"]::before {
  transform: rotate(.34turn);
  transform: rotate(.34turn);
  transform: rotate(.34turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="85"]::before {
  transform: rotate(.35turn);
  transform: rotate(.35turn);
  transform: rotate(.35turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="86"]::before {
  transform: rotate(.36turn);
  transform: rotate(.36turn);
  transform: rotate(.36turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="87"]::before {
  transform: rotate(.37turn);
  transform: rotate(.37turn);
  transform: rotate(.37turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="88"]::before {
  transform: rotate(.38turn);
  transform: rotate(.38turn);
  transform: rotate(.38turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="89"]::before {
  transform: rotate(.39turn);
  transform: rotate(.39turn);
  transform: rotate(.39turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="90"]::before {
  transform: rotate(.4turn);
  transform: rotate(.4turn);
  transform: rotate(.4turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="91"]::before {
  transform: rotate(.41turn);
  transform: rotate(.41turn);
  transform: rotate(.41turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="92"]::before {
  transform: rotate(.42turn);
  transform: rotate(.42turn);
  transform: rotate(.42turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="93"]::before {
  transform: rotate(.43turn);
  transform: rotate(.43turn);
  transform: rotate(.43turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="94"]::before {
  transform: rotate(.44turn);
  transform: rotate(.44turn);
  transform: rotate(.44turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="95"]::before {
  transform: rotate(.45turn);
  transform: rotate(.45turn);
  transform: rotate(.45turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="96"]::before {
  transform: rotate(.46turn);
  transform: rotate(.46turn);
  transform: rotate(.46turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="97"]::before {
  transform: rotate(.47turn);
  transform: rotate(.47turn);
  transform: rotate(.47turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="98"]::before {
  transform: rotate(.48turn);
  transform: rotate(.48turn);
  transform: rotate(.48turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="99"]::before {
  transform: rotate(.49turn);
  transform: rotate(.49turn);
  transform: rotate(.49turn);
  background-color: var(--interactive-accent)
}

.progress-pie[data-value="100"]::before {
  transform: rotate(.5turn);
  transform: rotate(.5turn);
  transform: rotate(.5turn);
  background-color: var(--interactive-accent)
}
