.event_item:hover{
    background-color: var(--interactive-accent-hover) !important;
}

.event_item_color1 {
  background-color: blue !important;
}

.event_item_color2 {
  background-color: lightblue !important;
}

.event_item_color3 {
  background-color: darkcyan !important;
}

.event_item_color4 {
  background-color: #f00 !important;
}

.event_item_color5 {
  background-color: darkred !important;
}

.event_item_color6 {
  background-color: violet !important;
}

.event_item_color7 {
  background-color: lightcoral !important;
}

.event_item_color8 {
  background-color: green !important;
}

.event_item_color9 {
  background-color: maroon !important;
}

.event_item_color10 {
  background-color: yellowgreen !important;
}