@use "node_modules/overlayscrollbars/styles/overlayscrollbars";
@use "../vendor/progress_pie_scss";

@keyframes pulse {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0.2;
  }
}

.day-planner {
  position: relative;
}

.day-planner .status-bar-item-segment:hover {
  cursor: pointer;
}

.status-bar-item.plugin-obsidian-day-planner {
  display: flex;
  gap: var(--size-2-2);
}

.day-planner-progress-bar {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  align-self: stretch;

  min-width: 100px;

  background-color: var(--text-faint);
  border-radius: var(--radius-s);
}

.day-planner-progress-value {
  background-color: var(--color-accent);
}

.day-planner-progress-value.green,
.day-planner .progress-pie.green::before {
  background-color: #4caf50;
}

.day-planner .progress-pie.green {
  background-image: linear-gradient(to right, transparent 50%, #4caf50 0);
}

.day-planner-status-bar-text {
  float: left;
  margin-right: 10px;
}

.day-planner-status-card {
  position: absolute;
  top: -140px;

  display: none;

  width: 300px;
  padding: 8px;

  background-color: var(--background-secondary-alt);
  border-radius: 4px;
}

.day-planner-status-card .arrow-down {
  position: absolute;

  width: 20px;

  border-top: 20px solid var(--background-secondary-alt);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.progress-pie.day-planner {
  width: 20px;
  height: 20px;
}

.progress-pie.day-planner::after {
  width: 80%;
  height: 80%;
}

.progress-pie.day-planner::after {
  font-size: 8px;
  font-weight: 900;
  line-height: 13px;
  color: transparent;

  background-color: transparent;
}

[data-type="timeline"] .view-content,
[data-type="weekly"] .view-content,
[data-type="timeTracker"] .view-content {
  --time-ruler-width: 30px;
  --scrollbar-width: 12px;

  --shadow-color: #00000010;
  --shadow-right: 2px 0px 2px var(--shadow-color);
  --shadow-bottom: 0px 2px 2px var(--shadow-color);

  display: flex;
  flex-direction: column;
  padding: 0;
}

.os-scrollbar {
  box-sizing: border-box;
  --os-size: var(--scrollbar-width);
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;

  --os-handle-bg: var(--scrollbar-thumb-bg);
  --os-handle-bg-hover: var(--scrollbar-active-thumb-bg);
  --os-handle-bg-active: var(--scrollbar-active-thumb-bg);
}

.absolute-stretch-x {
  position: absolute;
  right: 0;
  left: 0;
}

.day-planner-release-notes-modal {
  .modal-content {
    height: 100%;
    overflow: auto;
  }
}

.day-planner-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-4-2);
}

.overlayscrollbars-svelte {
  width: 100%;
  height: 100%;
}

.day-planner-release-notes-container {
  max-width: var(--file-line-width);
  margin-left: auto;
  margin-right: auto;
}
