name: Test

on:
  pull_request:
    branches:
      - main

  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Lint
        run: npm run lint

      - name: TypeScript
        run: npm run typescript

      - name: Test
        run: npm run test
